html {
  scroll-behavior: smooth;
  scroll-padding-top: 5em;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  scroll-padding-top: 3rem;
  background-image: url(../img/49737802.jpg);
  max-width: 100vw;
  max-height: 100%;
  background-size: cover;
}

header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
}

.navbar {
  font-size: 1.2em;
  background: rgb(113, 22, 242);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
}

.main-nav li {
  margin-top: 0.6em;
  text-align: left;
  padding: 1.3em 1em;
  transition: 0.5s all;
}

.main-nav li:hover {
  background-color: #f2ec16;
  color: black;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  opacity: 100%;
  transition: 1s all;
}

.navbar-alternador {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
}

#alternadorVisto {
  display: none;
}

#alternadorVisto:checked + ul.main-nav {
  display: block;
}

.razor-logo {
  fill: white;
  transition: 1s all;
}

.razor-logo:hover {
  fill: yellow;
}

.barra-progresso {
  position: absolute;
  top: 3.85em;
  height: 8px;
  background: #f2ec16;
  width: 0%;
  z-index: 100;
}

.abertura {
  position: static;
}

.abertura .bloco-mensagem img {
  height: 1em;
  border-bottom: none;
}

.bloco-mensagem {
  position: static;
  color: rgb(255, 255, 255);
  padding: 1.1em 1.1em;
  text-align: center;
  max-width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: auto;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2.5em;
  padding: 0.5em 0.5em;
  font-weight: bold;
  line-height: 1.8em;
}

.bloco-mensagem strong {
  text-transform: uppercase;
  color: gold;
  font-size: 1.15em;
}

.bloco-mensagem p {
  font-size: 1.5em;
  padding: 0.5em 0.5em;
  line-height: 1.8em;
}

.video-razor {
  display: block;
  margin: auto;
  width: 40%;
  height: auto;
  border: 2px solid #f2ec16;
}

.bloco-mensagem button,
.contato-box button {
  margin: 0.5em 0 0 0;
  background-color: rgba(120, 120, 193, 0.572);
  border: 1.2px solid rgb(113, 22, 242);
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  transition: 0.5s all;
  cursor: pointer;
  font-family: Poppins;
}

.bloco-mensagem button:hover,
.contate-nos button:hover {
  background-color: #f2ec16;
  color: black;
  transform: scale(1.03);
}

.informacoes {
  margin: 2em 2em;
}

.informacoes h2 {
  font-size: 2.25em;
  margin: 1em 0;
  font-weight: bold;
  clear: left;
  color: #ffffff;
}

.informacoes strong {
  text-transform: uppercase;
  color: gold;
  font-size: 1.15em;
}

.informacoes h3 {
  font-size: 1.65em;
  margin: 1em 0;
  font-weight: bold;
  color: #d4cdcd;
  display: flex;
  background-color: #0000008a;
  height: 50%;
  padding: 10px;
  margin: 0px;
  text-shadow: 2px 1px #181717;
  border-radius: 1px;
}

.informacoes .atencao {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
}

.informacoes p {
  font-size: 1.2em;
  margin: 1.2em 0;
  text-align: justify;
  line-height: 1.2em;
  color: #d4cdcd;
  display: flex;
  background-color: #0000008a;
  height: 50%;
  padding: 10px;
  margin: 0px;
  text-shadow: 2px 1px #181717;
  border-radius: 1px;
}

.informacoes a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: rgb(113, 22, 242);
}

.informacoes a:hover {
  color: gold;
}

.diferenciais img {
  width: 25%;
  margin: 0 0 2rem 2rem;
}

.contato-box img {
  width: 40%;
  float: left;
  margin: 0 2em 2em 0;
  border: 2px solid #f2ec16;
}

.felipe {
  margin: 3em 0 3em 0;
}

.gabriel {
  clear: left;
}

.gabriel img,
.felipe img {
  width: 20%;
  float: left;
  margin: 0 2em 2em 0;
  border: 2px solid #f2ec16;
}

.gabriel ul,
.felipe ul {
  text-align: right;
}

.icones {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.linkedin {
  width: 3em;
  fill: #0a66c2;
  margin-right: 2em;
}

.github {
  width: 3em;
  fill: #181717;
}

.linkedin:hover,
.github:hover {
  fill: #7116f2;
}

.imagem-squad {
  clear: left;
  display: block;
  margin: 2em auto;
  width: 60%;
  height: auto;
  border: 4px solid #f2ec16;
  border-radius: 3px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-conteudo {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  margin: 40px 0;
}

.contato-info label {
  color: rgb(113, 22, 242);
  font-size: 1.3em;
}

form label {
  display: block;
  font-size: 1.2em;
  margin: 0.5em 0 0.7em;
}

form legend {
  display: block;
  font-size: 1.3em;
  margin: 2em 0 0.3em;
  color: rgb(113, 22, 242);
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 100%;
}

.enviar {
  width: 70%;
  display: block;
  margin: 2em auto 0;
  padding: 15px 0;
  background: rgb(113, 22, 242);
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  background: #f2ec16;
  transform: scale(1.05);
  color: black;
}

footer {
  background: #7116f2;
  padding: 1em 3em;
  color: white;
  line-height: 1.6em;
  font-size: 0.7em;
  text-align: center;
  background-image: url(../img/4973780.jpg);
  max-width: 100vw;
  max-height: 100%;
  background-size: cover;
}

footer p {
  margin: 0.5em 0 0.5em 0;
}

/*Responsividade: telas com menos de 768px de largura  */
@media screen and (max-width: 768px) {
  .bloco-mensagem {
    position: static;
    max-width: 100%;
    opacity: 100%;
    background: rgb(113, 22, 242, 0.9);
  }

  .video-razor,
  .imagem-squad,
  .diferenciais img,
  .contato-box img,
  .contato-box button,
  .felipe img,
  .gabriel img {
    width: 100%;
  }
  .barra-progresso {
    top: 2.8em;
    height: 6px;
  }

  .modal-content {
    width: 95%;
    margin: 2.8em auto 2em;
  }
}

/*Responsividade:  telas com mais de 768px de largura*/
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  #alternadorVisto:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-alternador {
    display: none;
  }
}
